<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" 
      type="image/png" 
      href="https://img.icons8.com/plasticine/100/000000/edit.png">
      <meta property="og:title" content="miniMedium" />
      <meta property="og:description" 
            content="Create public and private articles." />
        <meta property="og:url" content="http://minimedium.herokuapp.com/" />
        <meta property="og:image" content="https://i.pinimg.com/originals/77/c1/86/77c18671253c3b050b6a5aeddfae214a.jpg" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
        <link rel="stylesheet" href="/css/style.css">
    <title>miniMedium Login</title>
</head>
<body>
    <div class="container login-container">
        <div class="card">
            <div class="card-content">
                {{{body}}}
            </div>
        </div>        
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>